{% extends "index.html" %}

{% block content %}
<div class="row">


    <div class="col-md-6 col-sm-12 float-left">
        <img class="w-100" src="{{ url_for('static', filename=product.image) }}">
    </div>
    <div class="col-md-6 col-sm-12">
        <h3 class="h3 mt-5"> {{ product.name }}</h3>
        <div class="badge-primary">{{product.vendor }}</div>
        <p class="text mt-3 mb-3">{{ product.description}}</p>
        <button class="btn btn-primary" value="Submit">Buy for ${{ product.price }}</button>
    </div>

</div>

{% endblock content %}