<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <meta charset="UTF-8">
    <title>Flask demo shop</title>
</head>
<body>
    <div class="container">

        <nav class="nav nav-collapse">
            <h2 class="h1 mt-4 mb-4">
                <a href="{{ url_for('main_page_app.') }}">Flask demo shop</a>
            </h2>
        </nav>

        {% block content %}

        <div>
            <ul>
            </ul>
            <div class="row">
                {% for category, products in preview_products_in_category.items() %}
                <div class="col-12">
                    <h3 class="h3 bg-light p-2">{{ category.name }}
                        <a href="{{ url_for('products_app.category', id=category.id)}}"><small>(show all)</small></a>
                    </h3>
                </div>
                {% for product in products %}
                <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 float-left pb-4">
                    <a href="{{ url_for('products_app.product', id=product.id)}}">
                        <img class="w-100" src="{{ url_for('static', filename=product.image) }}"/>
                        <h5 class="text-center"> {{ product.name }}</h5>
                        <p class="text-black-50 text-center icon-shopping-cart">${{ product.price }}</p>
                    </a>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>

        {% endblock content %}
        <hr>
        <footer class="footer align-bottom">
            Footer
        </footer>
    </div>
</body>
</html>

